
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Plese find your notes, <%= @user.name %></h3>
    <h4>Notes title:</h4><p> <%= @notes.title %></p>
    <h4>Notes Description:</h4><p> <%= @notes.description %></p>
    <br>
    <p>Have a great day!</p>
  </body>
</html>