@import 'defaults';

// Background image
body {
  background-image: url(wall.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header_loggedin{
  background: $ff;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  position: fixed;
  width: 100%;
  height: 45px;
  background: white;
  z-index: 2;
  top: 0px;

  & a{
    font-size: 14px;
    color: $dark;
    margin-left: 7px;
    padding: 5px 12px;
    border-radius: 3px;
    display: inline-block;

    &:hover{ background: $second_border; }

    &:focus{ background: $second_border; }

  }

  & .left{
    display: inline-block;
    position: relative;
    top: 8px;
    left: 25px;
  }

  & .right {
    display: inline-block;
    position: absolute;
    top: 8px;
    right: 3%;
  }

}

.notes_wrapper{ margin-top: 2px; }

.note{
  background: $ff;
  padding: 10px;
  display: block;
  font-size: 14px;
  border: 1px solid $header_border;
  border-radius: 3px;
  margin-bottom: 10px;
  overflow: auto;

  &:hover{
    border-color: $ee;
  }

  & .note_header{
    margin-bottom: 7px;

    & img{
      height: 31px;
      width: 31px;
      border-radius: 50%;
      display: inline-block;
    }

    & .note_h_left{
      display: inline-block;
      margin-left: 5px;
      width: 90%;

      & .note_username{
        display: block;
        color: $dark;
        font-weight: 600;
        position: relative;
        top: 2px;
      }

      & .note_time{
        font-size: 13px;
        color: $d_light;
        position: relative;
        top: -1px;
      }

    }

  }

  & .note_title, & .note_content{
    color: $dark;
  }

  & .note_title{
    margin-bottom: 4px;
    font-weight: 600;
  }

  & .note_actions {
    position: relative;
    float: right;

    & a {
      display: inline-block;
      padding: 3px 10px;
    }

  }
}

.page_end{
  padding: 10px;
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  color: $d_light;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid $fb;
  &:hover{ border: 1px solid $ee; }
}

.home{
  position: relative;
  width: 607px;
  margin-left: 480px;
  margin-bottom: 30px;
  & .home_info{
    margin-bottom: 10px;
    background: $ff;
    padding: 14px 10px;
    border: 1px solid $header_border;
    border-radius: 3px;
    font-size: 15px;
    & a{
      position: absolute;
      right: 10px;
      padding: 4px 12px;
      top: 10px;
    }
  }
}

// EDIT
.edit{
  position: relative;
  width: 500px;
  margin-left: 560px;
  font-size: 14px;
  top: 40px;

  & form > * {
    display: block;
    width: 100%;
    margin-top: 15px;
  }

  & form .flash {
    width: inherit !important;
    margin-top: inherit !important;
  }

  & .eb_btns{
    text-align: right;

    & input[type="submit"]{
      display: inline-block;
      margin-right: 38px;
      padding: 7px 20px;
      font-size: 14px;
    }

  }

  & .edit_span{
    color: $d_light;
    display: block;
    position: relative;
    font-size: 14px;
    margin-bottom: 5px;
  }

  & .edit_info{

    & img{
      width: 35px;
      height: 35px;
      border-radius: 50%;
      position: relative;
      display: inline-block;
    }

    & span {
      position: relative;
      top: -12px;
      left: 8px;
      font-size: 18px;
      font-weight: 600;
    }

  }

  & input[type='text'],
  & input[type='email'],
  textarea{
    width: 90%;
    padding: 8px;
    font-size: 14px;
  }

  & textarea{
    height: 200px;
  }

}

// BLOG PAGE
.blog{
  position: relative;
  font-size: 14px;
  background: #fff;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,.1);
  top: 80px;

  & > * {
    display: block;
    margin-bottom: 15px;
  }

  & .blog_actions {
    text-align: right;
    margin-bottom: 0px;

    & a {
      padding: 4px 10px;
      display: inline-block;
    }
  }

  & .blog_c {

    & .blog_title {
      font-weight: 600;
      font-size: 17px;
      display: block;
      margin-bottom: 5px;
    }

    & .blog_content {
      display: block;
    }

  }


}

.flash{
  position: fixed;
  background: #333;
  left: 2%;
  color: $ff;
  border-radius: 3px;
  padding: 12px 80px 12px 25px;
  font-size: 15px;
  cursor: pointer;
  text-align: left;
  z-index: 3;
  top: 90%;

  & .flash_mssg {
    position: relative;
  }

  & .flash_icon {
    position: absolute;
    display: inline-block;
    padding: 3px;
    border-radius: 2px;
    top: 10px;
    right: 10px;

    &:hover {
      background: #563d3d;
    }

    & i {
      font-size: 20px;
    }

  }

}

// HOME & ABOUT PAGES
.welcome {
  text-align: center;
  top: 60px;
  position: relative;
}




// Comments section

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: normal 13px sans-serif;
}

.comment-section{
    list-style: none;
    max-width: 800px;
    width: 100%;
    margin: 100px auto;
    padding: 10px;
    position: relative;
}

.comment{
    display: flex;
    border-radius: 3px;
    margin-bottom: 45px;
    flex-wrap: wrap;
}

.comment.user-comment{
    color:  #808080;
}

.comment.author-comment{
    color:  #60686d;
    justify-content: flex-end;
}

/* User and time info */

.comment .info{
    width: 15%;
    font-weight: bold;
}

.comment.user-comment .info{
    text-align: right;
}

.comment.author-comment .info{
    order: 3;
}


.comment .info a{ /* User name */
    display: block;
    text-decoration: none;
    color: #656c71;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 10px 0 3px 0;
}

.comment .info span{  /* Time */
    font-size: 11px;
    color:  #9ca7af;
}


/* The user avatar */

.comment .avatar{
    width: 8%;
}

.comment.user-comment .avatar{
    padding: 10px 18px 0 3px;
}

.comment.author-comment .avatar{
    order: 2;
    padding: 10px 3px 0 18px;
}

.comment .avatar img{
    display: block;
    border-radius: 50%;
}

.comment.user-comment .avatar img{
    float: right;
}





/* The comment text */

.comment p{
    line-height: 1.5;
    padding: 18px 22px;
    width: 50%;
    position: relative;
    word-wrap: break-word;
}

.comment.user-comment p{
    background-color:  #f3f3f3;
}

.comment.author-comment p{
    background-color:  #e2f8ff;
    order: 1;
}

.user-comment p:after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #f3f3f3;
    left: -8px;
    top: 18px;
}

.author-comment p:after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #ffffff;
    border: 2px solid #e2f8ff;
    right: -8px;
    top: 18px;
}




/* Comment form */

.write-new{
    margin: 80px auto 0;
    width: 50%;
}

.write-new textarea{
    color:  #444;
    font: inherit;

    outline: 0;
    border-radius: 3px;
    border: 1px solid #cecece;
    background-color:  #fefefe;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.06);
    overflow: auto;

    width: 100%;
    min-height: 80px;
    padding: 15px 20px;
}

.write-new button{
    float:right;
    background-color:  #87bae1;
    box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px;
    border: 0;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;

    padding: 10px 25px;
    margin-top: 18px;
}



/* Responsive styles */

@media (max-width: 800px){
    /* Make the paragraph in the comments take up the whole width,
    forcing the avatar and user info to wrap to the next line*/
    .comment p{
        width: 100%;
    }

    /* Reverse the order of elements in the user comments,
    so that the avatar and info appear after the text. */
    .comment.user-comment .info{
        order: 3;
        text-align: left;
    }

    .comment.user-comment .avatar{
        order: 2;
    }

    .comment.user-comment p{
        order: 1;
    }


    /* Align toward the beginning of the container (to the left)
    all the elements inside the author comments. */
    .comment.author-comment{
        justify-content: flex-start;
    }


    .comment-section{
        margin-top: 10px;
    }

    .comment .info{
        width: auto;
    }

    .comment .info a{
        padding-top: 15px;
    }

    .comment.user-comment p:after,
    .comment.author-comment p:after{
        width: 12px;
        height: 12px;
        top: initial;
        left: 28px;
        bottom: -6px;
    }

    .write-new{
        width: 100%;
    }
}
